services:
  mongo:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "3001:3001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/microservices-blog
      - JWT_SECRET=supersecretkey123
      - PORT=3001
    restart: always
    depends_on:
      - mongo

  post-service:
    build: ./post-service
    container_name: post-service
    ports:
      - "3002:3002"
    environment:
      - MONGO_URI=mongodb://mongo:27017/microservices-blog
      - JWT_SECRET=supersecretkey123
      - PORT=3002
    restart: always
    depends_on:
      - mongo

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - AUTH_SERVICE_URL=http://auth-service:3001
      - POST_SERVICE_URL=http://post-service:3002
    restart: always
    depends_on:
      - auth-service
      - post-service

  frontend:
    image: nginx:alpine
    container_name: frontend
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - gateway

volumes:
  mongo-data:
